$white: #fff;
$black: #000;

$gray-400: #a7b9c8;
$gray-100: #e1e8ee;

$blue-950: #00252e;

$pink-400: #ff52c1;

$purple-700: #684bb1;

$magenta-400: #e880e8;

$gradient-1: linear-gradient(to bottom right, #ff52c1, #9952ff);
$gradient-2: linear-gradient(to top right, rgb(153, 82, 255, 0), #ff52c1);
$gradient-3: linear-gradient(to bottom, #00c7fa, #007dfa);
$gradient-4: linear-gradient(to bottom, #fad961, #ff52c1);

$spacing-0: 0rem;
$spacing-100: 0.5rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;
$spacing-600: 3rem;
$spacing-700: 3.5rem;
$spacing-800: 4rem;

$breakpoint-tablet: 48rem;
$breakpoint-laptop: 64rem;